<% content_for :title, "About Sidestreeter" %>
<div class="row">
    <div class="small-2 columns">&nbsp;</div>
    <div class="small-6 columns about">
        <h3>About Sidestreeter:</h3><br/>
        <h4>This application is for sharing off-the-beaten-track places you find while traveling. The world has enough pictures of the famous places, let’s create some new ones..</h4>
    </div>
    <div class="small-3 columns"></div>
</div>
