/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require commontator/application

 */

.page {
    display: inline-block;
}

.show {
    margin-top: 1em
}

.callout {
    margin: 0 auto;
}

#distance {
    width: 60px;
}

.search {
    display: inline-block;
}

.show {
    margin: 0 auto;
    height: 100%;
}

.logo {
    color: white;
    font: italic bold 12px/30px Georgia, serif;
}

.vert-cent {
    vertical-align: middle;
}

.tb-v-align {
    margin-top: 15px;
}

.top-bar-title {
    margin-top: 21px;
}

.search-vert {
    margin-top: 14px;
}

#jsMap {
    height: 75%;
}
